p Hello,
p Unfortunately, we couldn't find lease application #{@application_identifier}. Please reply to this email with your name and application number, and attach your document as well.
p Thank you,
p Speed Leasing