---
http_interactions:
- request:
    method: get
    uri: https://api.kickbox.io/v2/verify?email=invalid-email%40example.com&timeout=6000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token test_379499d4d950aa90f34244b4d3b1607168ffe48cb9bd95321ca75cd7a07c77c4
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-kickbox-message:
      - You are using the Kickbox testing API. Results returned will not be correct.
      x-kickbox-balance:
      - '100'
      x-kickbox-response-time:
      - '6'
    body:
      encoding: UTF-8
      string: '{"result":"undeliverable","reason":"invalid_email","role":false,"free":false,"disposable":false,"accept_all":false,"did_you_mean":null,"sendex":0,"email":"invalid-email@example.com","user":"invalid-email","domain":"example.com","success":true,"message":"You
        are using Kickbox''s sandbox API, which is used to test your integration against
        mock results."}'
  recorded_at: Fri, 14 Jul 2017 16:51:59 GMT
recorded_with: VCR 3.0.3
