= form.inputs 'Vehicle Possession', for: :vehicle_possession do |l|
  = form.input :vehicle_possession, 
    as: :radio, 
    collection: [ ["Primary Lessee", "primary_lessee"], ["Colessee", "colessee"] ], 
    label: "Who will have possession of the vehicle?",
    input_html: { class: "vehicle_possession_radio", attr_is_new_record: form.object.new_record? },
    wrapper_html: { class: "required-to-submit" }