p Hello,
br/
p Thank you for your application! If you need to send us any documents, please email them to #{@application_identifier}#{ENV['ATTACHMENT_EMAIL_DOMAIN']} or reply to this email.
p If you have any questions about your application, please send them to support@speedleasing.com.
br/
p Thank you,
p Speed Leasing