= render 'notifications/notification_wrapper', notification: notification do
  span.content #{notification.notifiable.dealership.name} has added a co-lessee to application #{notification.notifiable&.decorate&.application_identifier}
