= render 'notifications/notification_wrapper', notification: notification do
  span.content A new attachment has been added to Application #{notification.notifiable&.decorate&.application_identifier}
