= semantic_form_for [:admins, @lease_application_stipulations], url: :add_stipulations_admins_lease_application, method: 'post' do |f|
  = render partial: 'admins/lease_application_stipulations/form', locals: { f: f }
