#get-a-lease {
  #heading {
    margin-bottom: 50px;
  }

  .title {
    font-weight: 200;
    font-size: 2.4rem;
    line-height: 3.2rem;
  }

  .description { 
    font-weight: 200;
    line-height: 1.5;
    font-size: 1.5rem;
    opacity: 0.5;
  }
}
