p Please find attached your Approval. Also included is a Risk Based Pricing Letter(s) which should be given to your customer(s).  
p Please include the Approval Letter with any faxes, scans, or emails pertaining to this deal. Or, simply reply to this email.
p Thank you.
= render 'shared/email_branded_footer'
