p Unfortunately, we are unable to approve this application. Please find attached an Adverse Action Letter, and a Risk Based Pricing Letter(s). Copies of each should be given to your customer(s).  
p Thank you.
= render 'shared/email_branded_footer'
