p This application requires additional information. Please see the attached Additional Information Required Letter for details.  
p Please include the Additional Information Required Letter with any faxes, scans, or emails pertaining to this deal. Or, simply reply to this email.
p Thank you.
= render 'shared/email_branded_footer'
