---
http_interactions:
- request:
    method: post
    uri: https://us-street.api.smartystreets.com/street-address?auth-id=9659c733-71f5-eb2c-c1e2-7dd437beec97&auth-token=eQ7GolvBrXz4fv6JMbxx
    body:
      encoding: UTF-8
      string: '[{"street":"some 1","street2":null,"secondary":null,"city":"invalid
        1","state":"address 1","zipcode":"30303","lastline":null,"addressee":null,"urbanization":null,"match":null,"candidates":1},{"street":"some
        2","street2":null,"secondary":null,"city":"invalid 2","state":"address 2","zipcode":"30303","lastline":null,"addressee":null,"urbanization":null,"match":null,"candidates":1},{"street":"some
        3","street2":null,"secondary":null,"city":"invalid 3","state":"address 3","zipcode":"30305","lastline":null,"addressee":null,"urbanization":null,"match":null,"candidates":1}]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "[]\n"
  recorded_at: Fri, 14 Jul 2017 17:05:24 GMT
recorded_with: VCR 3.0.3
