---
http_interactions:
- request:
    method: post
    uri: https://us-street.api.smartystreets.com/street-address?auth-id=9659c733-71f5-eb2c-c1e2-7dd437beec97&auth-token=eQ7GolvBrXz4fv6JMbxx
    body:
      encoding: UTF-8
      string: '[{"street":"123 Peachtree Street ","street2":null,"secondary":null,"city":"Atlanta","state":"GA","zipcode":null,"lastline":null,"addressee":null,"urbanization":null,"match":null,"candidates":1}]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"input_index":0,"candidate_index":0,"delivery_line_1":"123 Peachtree
        St NE","last_line":"Atlanta GA 30303-1803","delivery_point_barcode":"303031803234","components":{"primary_number":"123","street_name":"Peachtree","street_postdirection":"NE","street_suffix":"St","city_name":"Atlanta","state_abbreviation":"GA","zipcode":"30303","plus4_code":"1803","delivery_point":"23","delivery_point_check_digit":"4"},"metadata":{"record_type":"S","zip_type":"Standard","county_fips":"13121","county_name":"Fulton","carrier_route":"C033","congressional_district":"05","rdi":"Commercial","elot_sequence":"0140","elot_sort":"D","latitude":33.75149,"longitude":-84.39306,"precision":"Zip9","time_zone":"Eastern","utc_offset":-5,"dst":true},"analysis":{"dpv_match_code":"Y","dpv_footnotes":"AABB","dpv_cmra":"N","dpv_vacant":"N","active":"Y","footnotes":"L#"}}]'
  recorded_at: Mon, 09 Oct 2017 05:46:34 GMT
recorded_with: VCR 3.0.3
