#menu-help-line {
  font-weight: 500;
  font-size: 18px;
  color: white;
  margin-left: 60px;
}

.dealers_namespace {
  .menu-button {
    background-color: indianred !important;
    color: #FFFFFF !important;
  }
}