---
http_interactions:
- request:
    method: get
    uri: https://lookups.twilio.com/v1/PhoneNumbers/+1234567890
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic QUM4NjFmN2ZiMWQ2MTZlMTY3MmNhYmM0MmMxYmRkYmI3ZToxZjBhNWI3NTRkNzQxOGVjZDI5NjJjYzgyMWIyMDVmOA==
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.033'
      Twilio-Request-Id:
      - RQ521301e20b50407ea325492a4ee1699a
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 20404, "message": "The requested resource /PhoneNumbers/+1234567890
        was not found", "more_info": "https://www.twilio.com/docs/errors/20404", "status":
        404}'
  recorded_at: Fri, 14 Jul 2017 17:05:30 GMT
- request:
    method: get
    uri: https://lookups.twilio.com/v1/PhoneNumbers/4043764434
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic QUM2Njg3NmI0NTA1N2Y0YjE0NmU5OWEyY2IzNDMwMWU4YTo5M2I0ZTg3NDc1OGRiYjEyMmY5MDc2Yjg1MTJlOTQ4Zg==
  response:
    status:
      code: 403
      message: FORBIDDEN
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.022'
      Twilio-Request-Id:
      - RQdc72fb99b0a7454cb8155b84c81f53b5
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 20008, "message": "Resource not accessible with Test Account
        Credentials", "more_info": "https://www.twilio.com/docs/errors/20008", "status":
        403}'
  recorded_at: Tue, 02 Oct 2018 04:18:10 GMT
recorded_with: VCR 3.0.3
