---
http_interactions:
- request:
    method: get
    uri: https://lookups.twilio.com/v1/PhoneNumbers/+14159341234
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic QUM4NjFmN2ZiMWQ2MTZlMTY3MmNhYmM0MmMxYmRkYmI3ZToxZjBhNWI3NTRkNzQxOGVjZDI5NjJjYzgyMWIyMDVmOA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.059'
      Twilio-Request-Id:
      - RQaa4ccd2c5ddb40c796c5a218a8ffe08a
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"caller_name": null, "country_code": "US", "phone_number": "+14159341234",
        "national_format": "(415) 934-1234", "carrier": null, "add_ons": null, "url":
        "https://lookups.twilio.com/v1/PhoneNumbers/+14159341234"}'
  recorded_at: Fri, 14 Jul 2017 17:05:29 GMT
- request:
    method: get
    uri: https://lookups.twilio.com/v1/PhoneNumbers/4043764434
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic QUM4YTExYTQ4OTJhZGU3ZWY4OWU5NjliZDhmYTkyZDMyZjo0M2Y5MDMwYmRlMWMxNTZkY2YyOGNlMzZiNjFiNDAxYQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Duration:
      - '0.038'
      Twilio-Request-Id:
      - RQcc2ccb0f9d1c46e3bb14977c9c600fb7
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"caller_name": null, "country_code": "US", "phone_number": "+14043764434",
        "national_format": "(404) 376-4434", "carrier": null, "add_ons": null, "url":
        "https://lookups.twilio.com/v1/PhoneNumbers/+14043764434"}'
  recorded_at: Thu, 30 Nov 2017 11:24:53 GMT
- request:
    method: get
    uri: https://lookups.twilio.com/v1/PhoneNumbers/4043764434?Type=carrier
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic QUM4YTExYTQ4OTJhZGU3ZWY4OWU5NjliZDhmYTkyZDMyZjo0M2Y5MDMwYmRlMWMxNTZkY2YyOGNlMzZiNjFiNDAxYQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Duration:
      - '0.211'
      Twilio-Request-Id:
      - RQ63cfe286869246c2942063d0836ba48a
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"caller_name": null, "country_code": "US", "phone_number": "+14043764434",
        "national_format": "(404) 376-4434", "carrier": {"mobile_country_code": "310",
        "mobile_network_code": "012", "name": "Verizon Wireless", "type": "mobile",
        "error_code": null}, "add_ons": null, "url": "https://lookups.twilio.com/v1/PhoneNumbers/+14043764434?Type=carrier"}'
  recorded_at: Thu, 30 Nov 2017 11:25:06 GMT
recorded_with: VCR 3.0.3
