---
http_interactions:
- request:
    method: get
    uri: https://lookups.twilio.com/v1/PhoneNumbers/+14159341234?Type=carrier
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic QUM4YTExYTQ4OTJhZGU3ZWY4OWU5NjliZDhmYTkyZDMyZjo0M2Y5MDMwYmRlMWMxNTZkY2YyOGNlMzZiNjFiNDAxYQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Duration:
      - '0.063'
      Twilio-Request-Id:
      - RQbba3894c8b1c4e6ca64478581cdaaab1
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"caller_name": null, "country_code": "US", "phone_number": "+14159341234",
        "national_format": "(415) 934-1234", "carrier": {"mobile_country_code": null,
        "mobile_network_code": null, "name": "Pacific Bell", "type": "landline", "error_code":
        null}, "add_ons": null, "url": "https://lookups.twilio.com/v1/PhoneNumbers/+14159341234?Type=carrier"}'
  recorded_at: Thu, 30 Nov 2017 10:52:42 GMT
recorded_with: VCR 3.0.3
